/* NAVIGATION */
.navbar {  
  background-color: black;
  margin-bottom: 0px;
  padding: 20px;
  box-shadow: 5px 5px 5px #413131;
}

#menu {
  color: white;
  float: right;  
}

#name {
  /* font-family: 'Exo 2', sans-serif; */
  color: white;
  font-family: 'Passion One', cursive;
  font-size: 36px;
  padding-left: 130px;
}

/*BODY */
body {  
  font-family: 'Roboto Slab', serif;
  /*font-family: 'Droid Sans', sans-serif;*/
  font-size: 24px;
  background: #D6CFCF;
}

#about {
  padding: 100px; 
  line-height: 40px;
  background-color: darkslategray;
  color: white;
  font-size: 42px;
  text-align: center;
}

#job-titles {
  padding-bottom: 50px;
}

#description {
  text-align: left;
  font-size: 24px;
  margin: 20px 0 0 80px;  
  width: 85%;
}

.progress {
  margin-top: 10px;
  margin-left: 130px;
  width: 70%;
  align-content: center;
}

#portfolio {
  margin-top: -30px;
  padding-top: 40px;
  padding-bottom: 60px;
  /* padding-left: 50px; */
  font-size: 2em; 
  text-align: center;
 /* padding-right: 50px; */
  background-color: white;
}

#portfolio h1 {
  padding-bottom: 40px;
}

#sample {
  padding-top: 50px;
  width: 80%;
}

#connect {
  margin-top: -30px;
 /* padding-left: 50px; */
  background-color: black;
  color: white;
  padding-top: 50px;
  text-align: center;
}

.jumbotron {
  font-size: 36px;
}

.fa {
 color: white;
}

.fa-copyright {
  color: black;
}
footer {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}