body {
  font-family: 'Space Mono', monospace;
}

svg {
  background-color:lightgray;
}

#chart-title {
  text-align: center;
}

.axis {
    font: 10px, 'Space Mono', monospace;
}

#x-axis {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

#y-axis {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.bar {
    width: 3px;
    height: 600px;
    margin: 1 px;
    display: inline-block;
    fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.chart {
  display: flex;
  justify-content: center;
  position: relative;  
  background-color: lightgray;
  width: 850px;
  margin-left: 300px;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  margin: 0;
 /* color: white; */
  align-self: flex-end;
  width: 5px;
}

/*.tooltip {
  background: #EEE;
  background-color:  yellow;
  color: #333;
  display: none;
  font-size: 12px;
  padding: 0 px 10px;
  position: absolute;
  text-align: center;
  z-index: 10px;
} 
*/