body {
    font-family: 'Space Mono', monospace;
}

svg {
    background-color: lightblue;
    margin: 0 auto;
    display: block;
}

#chart-title {
    text-align: center;
}

.bar {
    width: 3.5px;
    fill: cadetblue;
}

.bar:hover {
    fill: chocolate;
}

div.tooltip {
  position: absolute;
  width: 110px;
  height: 30px;
  padding: 10px;
  font-size: 10px;
  background-color: lightgrey;
}
