body {
    background-color: rgb(34, 33, 33);
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
}

h3 {
    margin-bottom: 20px;
}

table {
    margin-top: 20px;
}

td {
    height: 150px;
    width: 150px;
    text-align: center;
    border: 5px solid white;
    font-size: 100px;
}

p {
    text-align: center;
}

.btn {
    background-color: rgb(109, 109, 230);
    color: white;
    margin: 0 10px 0 10px;
}