body {
    font-family: Verdana, sans-serif;
    background-color: lightgray;
}

h1 {
    color: black;
}

.card {
    width: 1050px;
    height: 690px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding-top: 10px;
}

svg {
    /* background-color: white; */
    margin: 0 auto;
    display: block;
}

#chart-title {
    text-align: center;
}

.bar {
    width: 5px;
    fill: cadetblue;
}

.bar:hover {
    fill: rgb(240, 188, 151);
}

div.tooltip {
  position: absolute;
  width: 110px;
  height: 30px;
  padding: 10px;
  font-size: 10px;
  background-color: lightgrey;
}
